.wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: black, $alpha: 0.5);
}

.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  background-color: white;
  padding: 30px;
  width: 300px;
  height: 200px;
}

.dialog-buttons {
  display: flex;
  gap: 30px;
  align-items: center;
}

button {
    display: inline-block;
    width: 100px;
    padding: 10px 0;
    cursor: pointer;
    color: white;
    border: none;
}

.button-yes {
    background-color: green;
}

.button-no {
    background-color: red;
}
