<div>
  <div class="mat-form-field-custom">
    <mat-form-field>
      <mat-label>Введите текст</mat-label>
      <input
        type="text"
        matInput
        #input
        (input)="onChangeInput(input)"
        [(ngModel)]="title"
      />
    </mat-form-field>
    <app-button-add
      [btnTitle]="btnTitle"
      [isDisable]="isDisableAdd"
      (click)="onAddClick(input)"
    ></app-button-add>
  </div>
  <textarea placeholder="Описание" [(ngModel)]="textarea"></textarea>
  <app-todo
    [valueData]="data"
    (DeleteEvent)="onDelete($event)"
    [isDisableDelete]="isDisableDelete"
    (EditEvent)="onEdit($event)"
    [isDisableDescription]="isDisableDescription"
    (DescriptionEvent)="onDescription($event)"
  ></app-todo>
</div>
<app-description
  [isShow]="isShowDescription"
  [titleDescription]="titleDescription"
  [textDescription]="textDescription"
  [timeDescription]="timeDescription"
></app-description>