@import url(../style/button.style.scss);

@keyframes LOADING {
  0% {
    transform: rotate(0deg);
    transform: scale(0.6);
  }
  100% {
    transform: rotate(180deg);
  }
}

:host {
  & .item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: black;
      bottom: 0;
      right: 0;
    }
  }

  & .item--buttons {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  & .button--delete {
    background-color: red;
  }

  & .button--edit {
    background-color: cadetblue;
  }

  & .iconLoading {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid white;
    border-radius: 50%;
    animation: LOADING 1s infinite alternate ease-in-out;
  }
}
